@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  /* colors */
  --clr-violet-500: #2d2640;
  --clr-blue-gray: #95a9c6;
  --clr-violet-dark-900: #2b272f;
  --clr-violet-dark-gray: #837d87;
  --clr-light-dark: #fafafa;

  /* font family */
  --ff-dm-serif: 'DM Serif Display', serif;
  --ff-karla: 'Karla', serif;

  /* font weights */
  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none;
}

body {
  background: var(--clr-light-dark);
  margin: 0;
  text-align: center;
  font-family: var(--ff-karla);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-dm-serif);
  line-height: 1;
  font-weight: var(--fw-400);
}

.btn {
  font-size: 0.7rem;
  font-weight: var(--fw-700);
  font-family: var(--ff-karla);
  letter-spacing: 2px;
  background-color: transparent;
  color: var(--clr-light-dark);
  text-transform: uppercase;
  border: 2px solid;
  padding: 1em 2em;
  text-decoration: none;
  min-width: min-content;
}

.btn:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.navlist-wrapper {
  position: relative;
  padding-block: 18rem;
  background-color: var(--clr-violet-dark-900);
}

.navlist {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 100%;
  /* gap: 2rem; */
  margin: 0;
  padding: 1.5rem;
  list-style-type: none;
  position: absolute;
  left: 0.001rem;
  top: 0rem;
  background-color: var(--clr-violet-dark-900);
  font-size: 1rem;
  text-transform: uppercase;
}

.navlist-desktop {
  display: none;
}

.nav-item {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 500;
  display: block;
}
.nav-link {
  color: var(--clr-light-dark);
  padding: 1rem;
}
li:not(:last-child) .nav-link {
  display: block;
}

.btn-ham {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.hero {
  background-color: var(--clr-violet-500);
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
}

.hero__heading {
  color: var(--clr-light-dark);
  order: 2;
  padding: 6rem 2rem;
}

h1 {
  font-size: clamp(1rem, 1rem + 50vw, 2.8rem);
  margin-top: 0;
}

h2 {
  font-size: clamp(1rem, 1rem + 50vw, 2.8rem);
}

.hero__description {
  line-height: 1.7;
}

.hero__img-section {
  width: 100%;
  order: -1;
}

.hero-img > img {
  min-width: 100%;
}

.features {
  padding: 5rem 1.85rem;
}

.features > h2 {
  margin-bottom: 5.313rem;
}
.features_wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.features__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__img {
  margin-bottom: 2.563rem;
}

.features__feature > h3 {
  margin: 0 0 1.8rem 0;
  font-size: 1.7rem;
}

.feature__description {
  margin-top: 0;
}

.how-we-work {
  background-color: var(--clr-violet-500);
  color: var(--clr-light-dark);
  margin: 0 1.2rem;
  margin-bottom: 5rem;
  padding: 5rem 1.4rem;
}
.how-we-work__heading {
  font-size: clamp(1rem, 1rem + 50vw, 2.688rem);
}
.footer {
  border-top: 2px solid blue;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer__social-links {
  display: grid;
  place-items: center;
  gap: 1.5rem;
  border-bottom: 1px solid black;
  padding-bottom: 3rem;
  width: 80%;
}

.links {
  display: flex;
  place-items: center;
  gap: 0.7rem;
}

.footer__footer-links > h3 {
  font-family: var(--ff-karla);
  color: var(--clr-blue-gray);
  font-size: small;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0.5em;
}

.footer-nav {
  list-style-type: none;
  padding: 0.5em 0 0 0;
  color: var(--clr-violet-500);
  display: grid;
  gap: 0.8rem;
}

.footer-nav > li {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.85rem;
  word-spacing: 6px;
}

.footer-nav-link {
  color: var(--clr-violet-dark-900);
}

@media screen and (min-width: 650px) {
  .nav-wrapper {
    padding: 1.3125rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
  }
  .navlist-desktop {
    display: flex;
    gap: 1rem;
    padding: 0;
    align-items: center;
  }

  .nav-link {
    color: var(--clr-violet-500);
    padding: 0;
    font-size: 1rem;
  }
  .btn-ham {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  body {
    text-align: left;
  }

  .container {
    width: 60%;
  }

  .nav-container {
    width: 70%;
    margin: 0 auto;
  }

  .nav-wrapper {
    padding-inline: 0;
  }

  h1::before {
    width: 20px;
    height: 10px;
    background-color: var(--clr-light-dark);
    position: absolute;
  }

  h1 {
    font-size: clamp(1rem, 1rem + 50vw, 4rem);
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    line-height: 0.9;
  }

  .hero {
    padding-block: 5.8rem;
  }

  .hero__wrapper {
    display: grid;
    grid-template-columns: 50% 48%;
    gap: 1.5rem;
    width: 70%;
    margin: 0 auto;
  }

  .hero__wrapper > * {
    padding-inline: 0;
  }

  .hero__heading {
    order: -1;
    padding-block: 3rem;
    display: grid;
    gap: 0.8rem;
  }

  .hero__img-section {
    order: 2;
    position: relative;
    max-width: 100%;
  }

  .hero-img > img {
    position: absolute;
    max-width: 90%;
  }

  .features_wrapper {
    flex-direction: row;
    gap: 3rem;
  }

  .features__feature {
    align-items: flex-start;
    gap: 2rem;
  }

  .how-we-work {
    padding-inline: 0rem;
    margin: 0;
    padding: 4rem 2.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .how-we-work__heading {
    width: 50%;
    margin: 0;
  }

  .footer {
    /* border: 2px solid black; */
  }

  .footer__social-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .footer__footer-links > h3 {
    padding: 0;
  }
  .footer__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10rem;
  }
}
